@using PersonalMvc.Models
@model List<Department>
@{
    ViewBag.Title = "ChooseDepartment";
}

<h2>Выберите отдел</h2>

<form action="/Product/ChoosePersonal" method="get">
    <select name="departmentId">
        @foreach(var item in Model)
        {
        <option value="@item.Id">@item.Name</option>
        }
    </select>
    <input type="submit"  value="Далее" />
</form>