@model PersonalMvc.Models.Product
@{
    ViewBag.Title = "ChooseDepartment";
}

<h2>Выберите отдел</h2>

<form action="/Product/ChoosePersonal" method="get">
    <select name="">
        <option value="value">text</option>
    </select>
</form>